.wcl-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.wcl-list li {
    display: inline-block;
    margin-right: 15px;
    text-transform: uppercase
}

.wcl-list a {
    color: #fff;
    line-height: 17px
}

.wcl-list-icon {
    margin-right: 10px
}

.wcl-list-icon img {
    height: 17px;
    width: auto
}

.banner-gradient .banner-bg:after {
    content: "";
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),color-stop(9%,rgba(0,0,0,0)),to(rgba(0,212,255,0)));
    background: linear-gradient(0deg,rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 9%,rgba(0,212,255,0) 100%);
    width: 100%
}

.banner-gradient h2,.banner-gradient h3 {
    border-bottom: 1px dashed #b4975a;
    line-height: 40px;
    padding-bottom: 25px
}

.image-icon.header-cart-icon .cart-img-icon {
    height: 24px;
    width: auto
}

.icon-svg {
    height: 24px;
    width: auto
}

.row-pb0 .col {
    padding-bottom: 0
}

.row.category-page-row {
    max-width: 100%;
    padding-top: 0;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5
}

.wcl-product {
    padding: 9px 9px 50px;
    height: 100%
}

.wcl-product__img,.wcl-product__info {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.wcl-product__show-attr .wcl-product__img {
    max-width: 48%;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%
}

.wcl-product__show-attr .wcl-product__info {
    max-width: 52%;
    -ms-flex-preferred-size: 52%;
    flex-basis: 52%;
    padding-left: 15px
}

.wcl-product-des {
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #191919
}

.wcl-product-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 9px
}

.wcl-product-title {
    margin-top: 24px;
    font-family: "Lora",sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191919
}

.wcl-product-title a:hover {
    color: #056839
}

.wcl-button .button {
    border-radius: 4px;
    margin-bottom: 0
}

.flex .w-50 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}

.products.row {
    max-width: 100% !important
}

.wcl-product-col .product-small {
    height: 100%
}

.wcl-product-col .col-inner {
    height: 100%
}

.wcl-product-col:after {
    left: 20px !important;
    width: calc(100% - 40px) !important
}

.wcl-product-col:before {
    top: 20px !important;
    height: calc(100% - 40px) !important
}

.wcl-price {
    color: #056839;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600
}

.wcl-price span.amount {
    color: #056839
}

.bdr {
    border-right: 1px solid #d5d5d5
}

.term-description {
    display: none
}

.wcl-product_attr li {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    color: #999;
    margin-left: 0
}

span.wcl-attr_icon {
    width: 16px;
    margin-right: 5px
}

.wcl-filter-sidebar {
    padding: 0
}

.category-banner__wrapper {
    background-color: #f6f6f6;
    overflow: hidden;
    position: relative
}

.category-banner__bg-image {
    background-position: top center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.category-banner__inner-wrapper {
    background-repeat: no-repeat;
    background-size: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 240px
}

.category-banner__gradient {
    background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.5));
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.category-banner__content {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-right: 88px;
    width: 30%;
    z-index: 1;
    color: #fff;
    text-align: center
}

.category-banner__description {
    font-size: 14px;
    letter-spacing: 1px
}

.category-banner__title {
    font-size: 30px;
    color: #fff
}

.widget_layered_nav_filters,.woocommerce-widget-layered-nav {
    padding: 20px 24px;
    border-bottom: 1px solid #d5d5d5;
    margin: 0
}

.widget_layered_nav .is-divider,.widget_layered_nav_filters .is-divider {
    display: none
}

.widget_layered_nav_filters {
    background: #fafafa
}

.woocommerce-widget-layered-nav-list {
    margin-top: 16px !important
}

.woocommerce-widget-layered-nav-list li {
    position: relative;
    font-size: 14px
}

.woocommerce-widget-layered-nav-list li a {
    padding-left: 22px !important
}

.woocommerce-widget-layered-nav-list li a:before {
    border-radius: 3px;
    width: 14px;
    height: 14px;
    border: 1px solid #d5d5d5;
    background: #fff;
    content: "" !important;
    vertical-align: middle;
    position: absolute !important;
    top: 9px !important;
    left: 0 !important
}

.woocommerce-widget-layered-nav-list li.chosen a:before,.woocommerce-widget-layered-nav-list li:hover a:before {
    opacity: 1;
    background: #b4975a;
    border: 1px solid #b4975a
}

.woocommerce-widget-layered-nav-list li.chosen a:after,.woocommerce-widget-layered-nav-list li:hover a:after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    content: "";
    height: 11px;
    left: 5px;
    position: absolute;
    top: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px
}

.wc-layered-nav-term.chosen>a:before {
    background: #b4975a;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    border: 1px solid #b4975a
}

.woocommerce-widget-layered-nav .widget-title {
    display: block;
    cursor: pointer;
    position: relative;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #191919
}

.woocommerce-widget-layered-nav .widget-title:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: #191919;
    font-family: "fl-icons" !important;
    font-display: block;
    speak: none !important;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1.2;
    font-size: 20px
}

.woocommerce-widget-layered-nav.filter-active .widget-title:after {
    content: ""
}

@media (max-width: 768px) {
    .category-banner__content {
        padding-right:50px;
        width: 100%;
        padding-left: 50px
    }
}

@media screen and (min-width: 850px) {
    .w-pc-20 {
        max-width:20%;
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%
    }

    .w-pc-80,.wcl-product-list {
        max-width: 80%;
        -ms-flex-preferred-size: 80%;
        flex-basis: 80%
    }

    .category-banner__inner-wrapper {
        min-height: 400px
    }
}

.ss-intro-icons .box-image img {
    width: auto;
    max-height: 40px
}

.ss-intro-icons .box-text {
    padding-bottom: 0;
    padding-top: 5px
}

.ss-intro-icons .box-text h4 {
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase
}

.section-title {
    font-size: 1em
}

.section-title b {
    opacity: .6;
    background-color: transparent;
    border: 1px dashed #b4975a
}

.section-title span {
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b4975a
}

@media (max-width: 768px) {
    .section-title span {
        font-size:16px
    }
}

@media (max-width: 768px) {
    .ss-title-w-50 .section-title span {
        max-width:50%
    }
}

.ss-box-image .box-text p {
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #056839
}

.ss-box-image .row .col {
    padding-bottom: 0
}

#quick_search {
    background: #fff;
    padding: 40px
}

.btn-search-wine {
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px
}

.header-block-block-1 {
    max-width: 59%;
    margin: 0 auto
}

.box-hotline .icon {
    margin-top: 5px
}

.box-hotline .icon-box-text h4 {
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #767676;
    margin: 0
}

.box-hotline .icon-box-text h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #191919;
    margin: 0
}

.ss-fixed-contact .icon-box-text {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.ss-fixed-contact .icon-box-text h5 {
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #191919
}

.ss-fixed-contact>a {
    width: 33.33%
}

.ss-fixed {
    position: fixed;
    bottom: 0;
    z-index: 999;
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.15);
    box-shadow: 1px 1px 10px rgba(0,0,0,.15)
}

.ss-fixed-contact .icon-box {
    display: inline-block;
    text-align: center
}

.ss-fixed-contact .icon-box-img,.ss-fixed-contact .icon-box-text {
    display: inline-block
}

.box-middle {
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5
}

.ux-menu {
    font-family: "Inter",sans-serif
}

.ux-menu .ux-menu-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #191919
}

.ux-menu .ux-menu-link a {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px
}

.mfp-bg.mfp-ready,.pswp__bg {
    background-color: #191919 !important
}

.mfp-bg.mfp-ready {
    opacity: .8 !important
}

#search-lightbox {
    font-size: 1em
}

@media (max-width: 767px) {
    .ss-fixed-contact .icon-box-text h5 {
        font-size:10px
    }

    .ss-fixed-contact .icon-box-text h5 span {
        display: none
    }

    .ss-fixed-contact .icon-box-text {
        padding-left: 2px !important
    }

    .ss-fixed-contact .icon-box-img {
        width: 18px !important
    }
}

.sub-menu.nav-dropdown .row {
    margin: 0 auto
}

.footer-wrapper {
    padding-bottom: 55px
}

.footer-wrapper .section-title-container {
    margin-bottom: 1em
}

.footer-wrapper .section-title {
    text-align: center;
    display: block;
    margin: 0
}

.footer-wrapper .section-title b {
    display: none
}

.footer-wrapper .section-title-main {
    font-family: "Lora",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #056839
}

.footer-wrapper .ux-menu-link {
    text-align: center
}

.footer-wrapper .ux-menu-link__link {
    display: block;
    font-family: "Inter",sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase
}

.absolute-footer {
    border-top: 1px dashed #b4975a
}

.logo-sticky {
    display: none !important
}

.logo-sticky span {
    display: none
}

.logo-sticky img {
    height: 32px;
    width: auto
}

.header-wrapper.stuck .logo-sticky {
    display: inline-block !important
}

.header-wrapper .header-bottom .nav>li>a {
    padding: 6px 0;
}

.header-wrapper .header-bottom .nav>li:nth-child(2)>a:after {
    display: none
}

.back-to-top {
    bottom: 70px
}

.ss-home-products .product-title a {
    font-family: "Lora",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #191919
}

.ss-home-products .price-wrapper .price {
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase
}

.ss-home-products .price-wrapper span.amount {
    color: #056839
}

.ss-home-products .add-to-cart-button {
    width: 100%
}

.ss-home-products .add-to-cart-button a {
    border-radius: 4px;
    width: 100%;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 1px
}

.ss-home-products .product-small .box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.button.primary {
    font-family: "Inter",sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 38px
}

.ss-brand .section-title-container {
    margin-bottom: 0
}

.ss-brand .box-text {
    font-size: 1em;
    padding-top: 1.5em
}

.ss-brand .box-text h2 {
    margin: 0
}

.title-sub {
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #5a5a5a
}

.select2-container .select2-selection--single {
    height: 40px;
    border: 1px solid #d5d5d5;
    border-radius: 4px !important;
    -webkit-box-shadow: none;
    box-shadow: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    font-size: 14px;
    font-weight: 400
}

.select2-container--open .select2-selection--single {
    border: 1px solid #b4975a
}

.select2-container--open .select2-dropdown {
    margin-top: 6px;
    border: none;
    border-radius: 4px !important;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 24px rgba(0,0,0,.2);
    box-shadow: 0px 4px 24px rgba(0,0,0,.2)
}

.select2-results__option {
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #191919;
    padding: 6px 12px;
    margin: 0
}

.select2-results__option--highlighted {
    background: #f0f0f0
}

.select2-results__option--highlighted[aria-selected],.select2-results__option--highlighted[data-selected] {
    background-color: #056839 !important
}

.select2-search--dropdown {
    padding: 8px 12px
}

.select2-search--dropdown .select2-search__field {
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px 12px
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
    background: #056839
}

@media (max-width: 600px) {
    .qs-select-wrapper {
        margin-bottom:20px
    }
}

a#top-link {
    background: #056839;
    color: #fff
}

.post-item .post-title {
    font-family: "Lora",sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #191919
}

.post-item .from_the_blog_excerpt {
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
    color: #191919
}

.post-item .is-divider {
    display: none
}

.single-product .product-detail__row .row {
    max-width: 1230px
}

.single-product .product-detail__content {
    font-size: 15px
}

.shade-top {
    opacity: 1
}

.header-main .nav>li>a {
    color: #524f4f
}

.has-transparent .header-wrapper:not(.stuck) .header-bg-color {
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(50%,rgba(255,255,255,.8)),to(rgba(255,255,255,.18))) !important;
    background: linear-gradient(180deg,#fff 0%,rgba(255,255,255,.8) 50%,rgba(255,255,255,.18) 100%) !important
}

.entry-divider {
    display: none
}

.product-breadcrumb-container {
    padding-left: 30px;
    padding-right: 30px
}

.blog-wrapper .row {
    max-width: 1230px !important
}

.post-sidebar .widget {
    background: #f7f7f7;
    border-radius: 4px;
    padding: 24px
}

.post-sidebar .is-divider {
    display: none
}

.post-sidebar .widget-title {
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #b4975a
}

.product-attribute ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.product-attribute__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 !important;
    padding: 0;
    width: 33.33%
}

.product-attribute__item .pa-icon img {
    max-width: 25px;
    height: auto
}

.product-attribute__item .pa-info {
    padding: 0 5px;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    letter-spacing: .3px;
    text-transform: uppercase
}

.product-attribute__item .pa-info__label {
    font-size: 12px;
    line-height: 18px;
    color: #767676
}

.product-attribute__item .pa-info__value {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #191919
}

.product-attribute-v ul {
    list-style: none;
    display: block
}

.product-attribute-v .product-attribute__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.product-attribute-v .product-attribute__item .pa-icon img {
    max-width: 25px;
    height: auto
}

.product-attribute-v .product-attribute__item .pa-info {
    text-transform: none
}

.product-attribute-v .product-attribute__item .pa-info__value {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #191919
}

.product-attribute-hz .product-attribute__item .pa-info__value {
    font-weight: 500;
    font-size: 11px;
    line-height: 24px;
    color: #191919
}

.product-attribute-hz .product-attribute__item .pa-info__value a {
    display: block
}

.line-divider {
    border-top: 1px dashed #b4975a;
    padding: 20px 0
}

.product-short-description {
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #191919
}

.single-product .product-title.entry-title {
    font-family: "Lora",sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #056839
}

.woocommerce-pagination {
    margin-top: 20px
}

.nav-pagination>li>a,.nav-pagination>li>span {
    line-height: 2.2em;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid currentColor
}

#top-bar {
    height: 10px !important;
    min-height: 10px !important
}

.wpcf7-spinner {
    display: none
}

#modalUuDai .wpcf7-submit {
    background: #fff;
    color: #056839;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px
}

.blog-archive {
    padding-top: 0
}

.producer__image_bg {
    min-height: 300px;
    background: #056839;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.producer__image_bg-name {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px
}

.producer__name {
    margin: 24px 0 14px
}

.producer__name h3 {
    font-family: "Lora",sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #191919
}

.producer__des {
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #191919
}

.producer__info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.producer__info__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #202124;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.producer__info__item i,.producer__info__item span {
    font-size: 18px;
    color: #b4975a;
    margin-right: 5px
}

.ux-swatch--label {
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.ux-swatch--label.selected {
    background: #056839;
    color: #fff;
    border-color: #056839
}

.wcl-buy-more__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px
}

.wcl-buy-more__item_image {
    max-width: 100px
}

.wcl-buy-more__item_info {
    padding-left: 15px;
    font-size: 14px
}

.category-block a.button {
    width: 157px;
    font-size: 12px !important;
    border-radius: 4px;
    margin: 5px 10px !important;
    padding: 0 10px
}

@media (max-width: 768px) {
    .category-block a.button {
        width:40%
    }
}

.category-block a.button:last-of-type {
    margin-right: 10px !important
}

.category-block .text-center .button:first-of-type {
    margin-left: 10px !important
}

.badge-circle,.badge-outline {
    margin-left: 10px
}

.ss-footer-contact {
    border-top: 1px dashed #b4975a
}

.ss-footer-contact .col-inner p {
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #191919;
    margin-bottom: 10px
}

.ss-footer-contact .col-inner .h3 span {
    font-size: 16px;
    letter-spacing: 1px
}

.social-icons {
    color: #191919
}

.su-box {
    padding: 20px;
    border-radius: 7px;
    color: #fff
}

.su-box__content a {
    color: #fff
}

@media (max-width: 768px) {
    .ss-intro-icons .box-image {
        width:40px !important
    }
}

@media (max-width: 849px) {
    .header-main .mobile-nav.nav-right li.html.custom {
        display:inline-block
    }

    .header-main .mobile-nav.nav-right li.html.custom .icon-phone {
        font-size: 20px
    }
}

.has-transparent .nav-dark .header-logo-dark {
    display: none !important
}

.has-transparent .nav-dark .header-logo {
    display: block !important
}

.has-transparent .stuck .nav-dark .header-logo {
    display: none !important
}

.season-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.season-list li {
    display: inline-block;
    margin: 0 !important;
    padding: 0
}

.season-list li a span {
    min-width: 30px;
    min-height: 30px;
    padding: 0 8px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    white-space: nowrap
}

.season-list li .season-item {
    margin: 5px 10px 5px 0
}

.ux-swatch--label.selected a {
    color: #fff
}

@media (max-width: 849px) {
    .has-transparent .header-wrapper:not(.stuck) .header-bg-color {
        background:-webkit-gradient(linear,left top,left bottom,from(#056839),to(#056839)) !important;
        background: linear-gradient(180deg,#056839 0%,#056839 100%) !important
    }
}

.color-main {
    color: #056839
}

.font-bold {
    font-weight: 700
}

.mn-icon:before {
    width: 20px;
    height: 20px;
    content: "";
    margin-right: 10px;
    background-size: contain
}

.mn-icon-regions:before {
    background: url("/site/images/mn_region.svg") no-repeat
}

.mn-icon-grape:before {
    background: url("/site/images/mn_grape.svg") no-repeat
}

.mn-icon-type:before {
    background: url("/site/images/mn_type.svg") no-repeat
}

.mn-icon-country:before {
    background: url("/site/images/mn_country.svg") no-repeat
}

.mn-icon-city:before {
    background: url("/site/images/mn_country.svg") no-repeat
}

.mn-icon-location:before {
    background: url("/site/images/mn_country.svg") no-repeat
}

.product-attribute.product-attribute-hz {
    margin: 0 15px
}

.tax-pa_nha-san-xuat .term-description {
    display: block
}

.wcl-orders {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #d5d5d5
}

.result-count {
    font-size: 13px;
    font-style: italic
}

.catalog-order {
    font-size: 13px
}
